body {
    background-color: salmon; 
}

.quizContainer {
    text-align: center;
    background-color: lightgreen;
    border-style: ridge;
    border-color: black;
    border-radius: 35px;
}

p {
    background-color: white;
    font-size: medium;
    display: inline-flex;
}

#startButton {
    border-radius: 35px;
}

#countdown {
    background-color: pink; 
    border-style: solid;
    border-color: black;
}

#nextButton {
    border-radius: 35px;
}

.answerChoices {
    border-radius: 35px;
} 