body {
    background-color: salmon; 
}

.quizContainer {
    text-align: center;
    background-color: lightgreen;
    border-style: ridge;
    border-color: black;
    border-radius: 35px;
}

p {
    background-color: white;
    font-size: medium;
    display: inline-flex;
}

button {
    border-radius: 35px;
}

button:hover {
    cursor: pointer;
}

#countdown {
    background-color: pink; 
    border-style: solid;
    border-color: black;   
}

#answerButtons {
    display: none;
}

#nextButton {
    display: none;
}